* {
    box-sizing: border-box;
}

.result-screen {
    color: white;
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    padding: 20px 5px;
    font-size: 45px;
    width: 25%;
    background-color: black;
}

.calc-buttons {
    width: 25%;
    background-color: black;
}

.calc-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.double-button {
    width: 50%;
    background-color: rgb(216, 217, 219);
    padding: 20px 5px;
    font-size: 45px;
}

.triple-button {
    width: 75%;
    background-color: rgb(216, 217, 219);
    padding: 20px 5px;
    font-size: 45px;
}

.input-button {
    background-color: rgb(216, 217, 219);
    width: 24.5%;
    padding: 20px 5px;
    font-size: 45px;
}

.operator-button {
    color: white;
    background-color: rgb(223, 151, 76);
    width: 24.5%;
    padding: 20px 5px;
    font-size: 45px;
}